<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Consumers" tabIcon="people"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Advertise" tabIcon="megaphone"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Performance" tabIcon="pie"></ion-tab>
</ion-tabs>
<!--
<ion-tab style="display:none;" tabIcon="call" [root]="tabFirstTimers" tabBadge="3" tabBadgeStyle="danger"></ion-tab>
<ion-tab tabIcon="call" [root]="tabZero" tabBadge="3" tabBadgeStyle="danger"></ion-tab>
<ion-tab tabIcon="call" [root]="tabOne" tabBadge="3" tabBadgeStyle="danger"></ion-tab>
<ion-tab tabIcon="chatbubbles" [root]="tabTwo" tabBadge="14" tabBadgeStyle="danger"></ion-tab>
<ion-tab tabIcon="musical-notes" [root]="tabThree"></ion-tab>
-->
