<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Businesses List</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>


  <div *ngIf="!showContent" class="top-margin-large">
       <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div *ngIf="showContent">

  <div id="quickstats">

      <p>Total Members <ion-spinner style="display:none" id="ctlquickstats_1" name="crescent">
      </ion-spinner>{{totalMemberBelongsToMyClub}}/{{categoriesToSelect.length}} possible business categories</p>
  </div>

  <ion-searchbar (ionInput)="filterCategories($event)"></ion-searchbar>
  <ion-list>


    <ion-item *ngFor="let option of contactList"  (click)="openModal(option )">

      <ion-icon name="build" item-start></ion-icon>
      <ion-label *ngIf="option.fullName" >{{option.fullName}}<small>({{option.phone}})</small>
        <div>
          <small>({{option.cat}})</small>
        </div>
      </ion-label>
      <img  *ngIf="!option.thisIsMe"   style="width:25px;" item-end src="../../assets/imgs/send-referral.png">
      <!--
      <ion-icon *ngIf="!option.thisIsMe"  id="ctlsendlead_{{option.id}}_send" name="send" (click)="dismiss(option.id)" item-end></ion-icon>
      <ion-spinner style="display:none" id="ctlsendlead_{{option.id}}_spinner" name="crescent" item-end></ion-spinner>
    -->
    </ion-item>
  </ion-list>
</div>

<ion-fab right bottom>
  <button ion-fab color="vibrant"><ion-icon name="add"></ion-icon></button>
  <ion-fab-list side="left">
    <button  ion-button color="dark" (click)="openPageBuildCoreNetwork(2)"  >
     <small>Employee</small>
    </button>
    <button  ion-button  color="dark" (click)="openPageBuildCoreNetwork(1)"  >
     <small>Member</small>
    </button>
  </ion-fab-list>
</ion-fab>

</ion-content>
