<ion-header>
  <ion-toolbar>
    <ion-title>
      Select Referral To sendBy
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismissEmpty()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <div id="divAddContact" style="display:none">

    <form [formGroup]="createcontact" (ngSubmit)="fnCreateContactForReferral()">
      <p>Enter new contact information</p>
      <ion-list>

        <ion-item>
          <ion-label>Name</ion-label>
          <ion-input formControlName="ctlrealname"  type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Phone</ion-label>
          <ion-input formControlName="ctlphone"  type="text"></ion-input>
        </ion-item>

      </ion-list>
      <ion-buttons>
       <button type="submit"  [disabled]="!createcontact.valid"  ion-button color="dark">Create Contact & Send</button>
     </ion-buttons>
    </form>


  </div>
  <div id="divAddressBook">
    <p>
        Select Contact To be send as Referral
    </p>

    <ion-searchbar (ionInput)="filterStoredContacts($event)"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let storedContact of storedContacts">

            <ion-label id="ctlitemlabel_{{storedContact.phone}}" >{{storedContact.name}} <small>{{storedContact.phone}}</small></ion-label>

            <!-- to do replace storedContact.phone with storedContact.id or something -->
            <ion-icon id="ctlitem_{{storedContact.phone}}_send" name="send" (click)="dismissMe(storedContact.phone)" item-end></ion-icon>
            <ion-spinner style="display:none" id="ctlitem_{{storedContact.phone}}_spinner" name="crescent" item-end></ion-spinner>
      </ion-item>
    </ion-list>
  </div>




</ion-content>
<ion-footer padding>
  <div>
     <ion-buttons>
        <button ion-button color="dark" (click)="fnAddNewContact()">New Contact</button>
    </ion-buttons>
  </div>
</ion-footer>
