<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{shoppingItem.itemName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label floating>Item Name</ion-label>
    <ion-input type="text" [(ngModel)]="shoppingItem.itemName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Number</ion-label>
    <ion-input type="number" [(ngModel)]="shoppingItem.itemNumber"></ion-input>
  </ion-item>

  <button ion-button block (click)="editShoppingItem(shoppingItem)">Edit Item</button>
</ion-content>
