<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Performance</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-4>Member</ion-col>
      <ion-col col-4>Send</ion-col>
      <ion-col col-4>Recieved</ion-col>
    </ion-row>
    <ion-row *ngFor="let r of referralObj">
      <ion-col col-4>{{r.memberPhoneNumber}}</ion-col>
      <ion-col col-4>{{r.send}}</ion-col>
      <ion-col col-4>{{r.recieved}}</ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
