<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Build Core Network</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <div id="afterallsmssend" style="display:none;">
      <p>All SMS has been send.
      </p>
      <ion-buttons>
        <button ion-button color="dark" (click)="openHomePage()">Click here to go back</button>
      </ion-buttons>
    </div>

    <div id="listtobuildcorenetwork">
      <p>
        Here you will build your core Network.  Network will interchange referrals with you. Match each of your phone contact with category
      </p>

      <ion-searchbar (ionInput)="filterStoredContacts($event)"></ion-searchbar>
      <ion-list>
        <ion-item *ngFor="let storedContact of storedContacts" (click)="openModal(storedContact )">

              <ion-label id="ctlitemlabel_{{storedContact.phone}}" >{{storedContact.name}}</ion-label>
              <img  style="width:25px;" item-end src="../../assets/imgs/plus.png">

        </ion-item>

      </ion-list>
    </div>

<!--
<ion-label>
  <span id="{{storedContact.phone}}">
    <img  style="width:25px;" item-end src="../../assets/imgs/plus.png">
  </span>
</ion-label>


<ion-label>{{storedContact.name}}</ion-label>
<ion-icon name="add-circle" item-end></ion-icon>
<ion-icon name="add-circle" item-end><small>{{storedContact.phone}}</small></ion-icon>


  <ion-list>
      <ion-item *ngFor="let storedContact of storedContacts">
        <ion-label>{{storedContact}}</ion-label>

        <ion-select [selectOptions]="getmyselectid()" (click)="checkIfOptionsAreTaken()" (ionChange)="onItemSelection(selection)" >
            <ion-option *ngFor="let option of categoriesToSelect"  (ionSelect)="triggerMe(option)"  value="{{option.id}}">
              {{option.name }}
            </ion-option>
        </ion-select>

      </ion-item>
  </ion-list>
-->


</ion-content>
