<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contacts</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div>
      <p>Your contacts are only visible to you
  </div>

  <ion-searchbar (ionInput)="filterMe($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let option of storedContacts" >
      <ion-label *ngIf="option.name" >{{option.name}}
        <div>
          <small>({{option.phone}})</small>
        </div>
      </ion-label>

      <ion-icon *ngIf="!option.isConsumer"  id="ctlitem_{{option.phone}}_send" name="send" (click)="fnImportContactAsConsumer(option)" item-end></ion-icon>
      <ion-spinner *ngIf="!option.isConsumer"  style="display:none" id="ctlitem_{{option.phone}}_spinner" name="crescent" item-end></ion-spinner>

      <img  *ngIf="option.isConsumer"   (click)="openModal_refer(option )" style="width:25px;" item-end src="../../assets/imgs/handshake.png">
    </ion-item>
  </ion-list>
</ion-content>


<ion-footer padding>
  <div class="pull-center">
      <button  (click)="openModal()" ion-button>
       Add New Contact
      </button>
  </div>
</ion-footer>
