<ion-header>
  <ion-toolbar>
    <ion-title>
        Add New Consumer
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismissEmpty()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <div id="divAddContact" >

    <form [formGroup]="createcontact" (ngSubmit)="fnCreateContactForReferral()">
      <p>Enter new contact information</p>
      <ion-list>

        <ion-item>
          <ion-label>Name</ion-label>
          <ion-input formControlName="ctlrealname"  type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Phone</ion-label>
          <ion-input formControlName="ctlphone"  type="text"></ion-input>
        </ion-item>

      </ion-list>
      <ion-buttons>
        <div class="pull-center">
            <button type="submit"  [disabled]="!createcontact.valid"  ion-button >Create Contact & Import</button>
        </div>
     </ion-buttons>
    </form>


  </div>

</ion-content>
