<ion-header>
  <ion-toolbar>
    <ion-title>
        Refer To Club Member
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismissEmpty()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <p>
        Select Business To Send This Consumer
    </p>

    <ion-searchbar (ionInput)="filterCategories($event)"></ion-searchbar>
    <ion-list>


      <ion-item *ngFor="let option of contactList"  >

        <ion-icon name="build" item-start></ion-icon>
        <ion-label *ngIf="option.fullName" >{{option.fullName}}
          <div>
            <small>({{option.cat}})</small>
          </div>
        </ion-label>

        <ion-icon *ngIf="!option.thisIsMe"  id="ctlitem_{{option.phone}}_send" name="send" (click)="dismissMe(option.phone)" item-end></ion-icon>
        <ion-spinner *ngIf="!option.thisIsMe"  style="display:none" id="ctlitem_{{option.phone}}_spinner" name="crescent" item-end></ion-spinner>

        <!--
        <ion-icon *ngIf="!option.thisIsMe"  id="ctlsendlead_{{option.id}}_send" name="send" (click)="dismiss(option.id)" item-end></ion-icon>
        <ion-spinner style="display:none" id="ctlsendlead_{{option.id}}_spinner" name="crescent" item-end></ion-spinner>
      -->
      </ion-item>
    </ion-list>

</ion-content>
