<ion-header>

  <ion-navbar>
    <ion-title>Join-club</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<form [formGroup]="joinclub" (ngSubmit)="fnJoinClubAndRedirectToDashboard()">
  <p>Enter your business information</p>
  <ion-list>

    <ion-item>
      <ion-label>Your Real Name</ion-label>
      <ion-input formControlName="ctlrealname"  type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Business Name</ion-label>
      <ion-input formControlName="ctlbusinessname"  type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Business Description</ion-label>
      <ion-input formControlName="ctlbusinessdesc"  type="textarea"></ion-input>
    </ion-item>

  </ion-list>
  <ion-buttons>
   <button type="submit"  [disabled]="!joinclub.valid" ion-button color="dark">Join Club</button>
 </ion-buttons>
</form>



</ion-content>

<ion-footer padding>
  <div>

  </div>
</ion-footer>
