<ion-header>
  <ion-navbar>
    <button ion-button (click)="fnGoToDashboard()"  >
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-title class="brandion">
      <img src="/assets/imgs/logo-grey.png" />
      <span class="brand-wording">Grow Referral</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <div id="divAddNew" style="display:none">

    <form [formGroup]="createAd" (ngSubmit)="fncreateAdNow()">
      <p>Enter your advertisment detail down here</p>
      <ion-list>

        <ion-item>
          <ion-label>Title</ion-label>
          <ion-input formControlName="ctltitle"  type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Details</ion-label>
          <ion-textarea formControlName="ctldetails"  type="text"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label>Active</ion-label>
          <ion-toggle formControlName="ctlactive" checked="true"  type="text"></ion-toggle>
        </ion-item>

      </ion-list>
      <ion-buttons>
       <button type="submit" ion-button [disabled]="!createAd.valid"  >Create AD</button>
     </ion-buttons>
    </form>


  </div>
  <div id="divExisting">
    <p>
        Select Ads to Edit or View
    </p>



<ion-list>
    <ion-item  *ngFor="let ad of myStoredADs" >
      <ion-label   (click)="fnManageThisAd(ad)" >{{ad.title}}
      </ion-label>
      <ion-icon  (click)="fnManageThisAd(ad)"  *ngIf="!ad.isActive"   name="radio-button-off" item-end></ion-icon >
      <ion-icon  (click)="fnManageThisAd(ad)"  *ngIf="ad.isActive"   name="radio-button-on"   item-end></ion-icon >

    </ion-item>
</ion-list>

    <ion-fab right bottom>
      <button ion-fab (click)="fnAddNewContact()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

  </div>




</ion-content>
