// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.brandion img {
    height: 35px;
    margin-top: 5px;
}
.brand-wording {
    top: -11px;
    position:relative;
    color:#fff;
}
ion-header > ion-navbar .bar-button-default-ios,
ion-header > ion-navbar .bar-button-default.bar-button-ios-default,
ion-header > ion-navbar .bar-button-clear-ios-default {
    color:#fff;
}
button.btn {
    background-color:map-get($colors, primary);
}

ion-header,
ion-header > ion-navbar,
ion-header > ion-navbar .toolbar-background
{
      background-color: map-get($colors, primary);
}
.pull-center {
   text-align: center;
}
.helpicon {
   margin-left:5px;
}

.top-margin-large {
    margin-top: 170px;
}
