<!--
  Generated template for the CreateClubPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>create-club</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<form  [formGroup]="createclub" (ngSubmit)="fnCreateClubAndRedirectToBuildCoreNetworkPage()">
  <p>Enter new Club Information</p>
  <ion-list>


        <ion-item>
          <ion-label>Club Name</ion-label>
          <ion-input placeholder="Business Referral Club" formControlName="ctlclubname"  type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Description</ion-label>
          <ion-textarea formControlName="ctlclubdesc" placeholder="A mission or description for your club "></ion-textarea>
        </ion-item>



    <ion-item>
      <ion-label>Require Approval To Join<ion-icon  (click)="showHelp(1)" class="helpicon" name='help-circle'></ion-icon></ion-label>
      <ion-toggle formControlName="ctlrequireapproval"   checked="true"></ion-toggle>
    </ion-item>

  </ion-list>
  <ion-buttons>
    <div class="pull-center">
        <button type="submit"  [disabled]="!createclub.valid" ion-button  >Create Club</button>
    </div>
    <div class="pull-center">
      <button  (click)="goback()" ion-button clear>Close</button>
    </div>
 </ion-buttons>
</form>



</ion-content>
