<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="brandion">
      <img src="/assets/imgs/logo-grey.png" />
      <span class="brand-wording">Grow Referral</span>
    </ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
      <h3>Register Your Business</h3>
      <p>Select package appropriate to your business need</p>

<div class="divpackage">
      <button  (click)="selectpackage(1)"    ion-button clear icon-start>
        Startup
      </button>
      <button ion-button clear ><ion-icon  (click)="showHelp(1)" class="helpicon" name='help-circle'></ion-icon>  </button>

      <p class="optionhelp">$19/mo</p>

      <button  (click)="selectpackage(2)"   ion-button clear icon-start>
        Growing
      </button>
      <button ion-button clear ><ion-icon  (click)="showHelp(2)" class="helpicon" name='help-circle'></ion-icon>  </button>
      <p class="optionhelp">$199/mo</p>

      <button  (click)="selectpackage(3)"   ion-button clear icon-start>
        Mature
      </button>
      <button ion-button clear ><ion-icon  (click)="showHelp(3)" class="helpicon" name='help-circle'></ion-icon>  </button>
      <p class="optionhelp">$499/mo</p>

      <button  (click)="selectpackage(4)"   ion-button clear icon-start>
        Mid-size Business
      </button>
      <button ion-button clear ><ion-icon  (click)="showHelp(4)" class="helpicon" name='help-circle'></ion-icon>  </button>
      <p class="optionhelp">$999/mo</p>

      <button  (click)="selectpackage(5)"   ion-button clear icon-start>
        Enterprise
      </button>
      <button ion-button clear ><ion-icon  (click)="showHelp(5)" class="helpicon" name='help-circle'></ion-icon>  </button>
      <p class="optionhelp">Contact</p>
</div>

</ion-content>
