page-options {

  .helpicon {
    margin-left:5px;
  }
  .optionhelp {
      font-size: 12px;
      margin: 0px;
      text-align: center;
  }
  .divpackage {
      text-align: center;
      margin-top: 50px;
  }
}
