
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Shopping List</ion-title>
    <ion-buttons end>
      <button ion-button icon-only
      (click)="navigateToAddShoppingPage()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
 


<ion-content padding>

  <ion-list>
    <!-- Repeat the ion-item for as many items that we have inside of our shopping list. -->
    <ion-item *ngFor="let item of shoppingListRef$ | async" (click)="selectShoppingItem(item)">
      <h2>Item Name: {{item.itemName}}</h2>
      <h3>Amount: {{item.itemNumber}}</h3>
    </ion-item>
  </ion-list>

</ion-content>
