<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Content</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>
    This is a perfect starting point for a page with primarily text content. The body is padded nicely and ready for prose.
  </p>
</ion-content>
