<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="brandion">
      <img src="/assets/imgs/logo-grey.png" />
      <span class="brand-wording">Grow Referral</span>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

<div *ngIf="optionToShow3">
     <p>Click here to go back to dashboard</p>
</div>

<div *ngIf="optionToShow4">
  <h3>Club join request</h3>
  <p>Someone send you request to join their club. </p>


  <div class="pull-center top-margin-large">
    <div>
        <button full *ngFor="let option of responseMyRequests_"  (click)="fnViewClub(option.clubId)" ion-button>
            {{ option.sendByName }}`s Club
        </button>
   </div>
   <div>or
   </div>
    <button full (click)="fnCreateClub()" ion-button>Create New Club</button>
    <div>
      <button full  (click)="fnChooseClub()" ion-button clear  >Explore Other Clubs</button>
    </div>
  </div>

</div>

<div *ngIf="optionToShow1">
  <h3>Choose Your Elite Club</h3>
  <p>Time to build strong networking club and generate quality referrals  </p>


  <div class="pull-center top-margin-large">
    <button  (click)="fnCreateClub()" ion-button>Create New Club</button>
    <div>
      <button  (click)="fnChooseClub()" ion-button clear  >Explore Clubs</button>
    </div>
  </div>

</div>
<div *ngIf="optionToShow2">
  <h3>Register Your Business</h3>
  <p>Tell us what you do  </p>


  <form [formGroup]="userreg" (ngSubmit)="fnUserRegistrationBeforeClubJoining()">

    <ion-list>

      <ion-item>
        <ion-label floating>Your Real Name</ion-label>
        <ion-input formControlName="ctlrealname"  type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Business Name</ion-label>
        <ion-input formControlName="ctlbusinessname"  type="text"></ion-input>
      </ion-item>

      <ion-item>
              <ion-label floating>Your Head-Office Postal Code</ion-label>
              <ion-input formControlName="ctlheadofficepostalcode"  type="text"></ion-input>
      </ion-item>

      <ion-item id="itembusinesscat" (click)="openModal()">
              <ion-label floating>Business Category</ion-label>
              <ion-input formControlName="ctlbusinesscat_display" disabled type="text"></ion-input>
              <ion-input    formControlName="ctlbusinesscat"  type="hidden"></ion-input>
    </ion-item>
  </ion-list>

    <ion-buttons>
     <button class="btn"
      type="submit"  [disabled]="!userreg.valid" ion-button color="dark">Register</button>
   </ion-buttons>
  </form>
   <!--
     <ion-buttons>
      <button ion-button color="dark" (click)="openPageBuildCoreNetwork()">Create New Club</button>
    </ion-buttons>
  -->
</div>
</ion-content>
