<ion-header>
  <ion-toolbar>
    <ion-title>
      Select Your Business Category
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-searchbar (ionInput)="filterCategories($event)"></ion-searchbar>
  <ion-list>
    <ion-item  (click)="dismiss(option.id)"  *ngFor="let option of categoriesToSelect" >
      <ion-icon name="build" item-start></ion-icon>
      <ion-label>{{option.name}}
      </ion-label>
      <ion-icon id="ctlcat_{{option.id}}_send" name="add-circle" item-end></ion-icon>
    </ion-item>
  </ion-list>


</ion-content>
