<ion-header>
  <ion-toolbar>
    <ion-title>
      Select Category
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
       <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-searchbar (ionInput)="filterCategories($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let option of categoriesToSelect" >
      <ion-icon name="build" item-start></ion-icon>
      <ion-label>{{option.name}}
      </ion-label>
      <ion-icon id="ctlcat_{{option.id}}_send" name="send" (click)="dismiss(option.id)" item-end></ion-icon>
      <ion-spinner style="display:none" id="ctlcat_{{option.id}}_spinner" name="crescent" item-end></ion-spinner>
    </ion-item>
  </ion-list>


<!--
  <ion-list>
      <ion-item *ngFor="let storedContact of storedContacts">
        <ion-label>{{storedContact}}</ion-label>

        <ion-select [selectOptions]="getmyselectid()" (click)="checkIfOptionsAreTaken()" (ionChange)="onItemSelection(selection)" >
            <ion-option *ngFor="let option of categoriesToSelect"  (ionSelect)="triggerMe(option)"  value="{{option.id}}">
              {{option.name }}
            </ion-option>
        </ion-select>

      </ion-item>
  </ion-list>
-->


</ion-content>
<ion-footer padding>
  <div>
     <ion-buttons>
       <!--
       <button ion-button color="dark" (click)="openConfirmModel()">Send SMS & Connect</button>
     -->
      Clicking <ion-icon name="send"></ion-icon> will send SMS from your phone. SMS charges may apply
    </ion-buttons>
  </div>
</ion-footer>
