<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Your Advertisements</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg">

  <ion-card  *ngFor="let ad of storedADs">
    <ion-card-content>
      <ion-card-title>
        {{ad.title}}
      </ion-card-title>
      <p>
        {{ad.detail}}
      </p>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col text-center>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='text'></ion-icon>
          Refer
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>
  </ion-card>


  <ion-fab right bottom>
    <button ion-fab (click)="fnManageAds()"><ion-icon name="cog"></ion-icon></button>
  </ion-fab>


</ion-content>
