<ion-header>
  <ion-toolbar>
    <ion-title>
        Manage My Advertisments
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismissEmpty()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <div id="divAddNew" style="display:none">

    <form [formGroup]="createAd" (ngSubmit)="fncreateAdNow()">
      <p>Enter your advertisment detail down here</p>
      <ion-list>

        <ion-item>
          <ion-label>Title</ion-label>
          <ion-input formControlName="ctltitle"  type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Details</ion-label>
          <ion-textarea formControlName="ctldetails"  type="text"></ion-textarea>
        </ion-item>

      </ion-list>
      <ion-buttons>
       <button type="submit" ion-button [disabled]="!createAd.valid"  >Create AD</button>
     </ion-buttons>
    </form>


  </div>
  <div id="divExisting">
    <p>
        Select Ads to Edit or View
    </p>

    <ion-item  *ngFor="let ad of myStoredADs" >
      <ion-label   (click)="fnManageThisAd(ad)" >{{ad.title}}
      </ion-label>
      <ion-icon name="create"  (click)="fnManageThisAd(ad)" item-end></ion-icon>

    </ion-item>

    <ion-fab right bottom>
      <button ion-fab (click)="fnAddNewContact()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

  </div>




</ion-content>
