<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ad.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label floating>Title</ion-label>
    <ion-input type="text" [(ngModel)]="ad.title"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Details</ion-label>
    <ion-input type="text" [(ngModel)]="ad.detail"></ion-input>
  </ion-item> 

  <button ion-button block (click)="editAd(ad)">Edit Item</button>
</ion-content>
