<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="brandion">
      <img src="/assets/imgs/logo-grey.png" />
      <span class="brand-wording">Grow Referral</span>
    </ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
<div *ngIf="thisIsMyClub">
  <h3>{{clubName}}</h3>
  <p>{{clubDetail}} </p>
  <p>You already belong to this club </p>

    <p>Club Members</p>
    <ion-list>
       <ion-item  *ngFor="let people of clubPeople">
         <ion-label *ngIf="people.isAdmin">{{people.fullName}} <small>{{people.cat}}</small> <ion-badge item-end>Admin</ion-badge></ion-label>
         <ion-label *ngIf="!people.isAdmin">{{people.fullName}} <small>{{people.cat}}</small></ion-label>
       </ion-item>
    </ion-list>

</div>
<div *ngIf="!thisIsMyClub">
  <h3>{{clubName}}</h3>
  <p>{{clubDetail}} </p>

  <div *ngIf="!myCatOpen">
      <p>You are not able to join this club because your business category is already filled by someone</p>
  </div>

  <div *ngIf="myCatOpen">
    <p>Club Members</p>
    <ion-list>
       <ion-item  *ngFor="let people of clubPeople">
         <ion-label *ngIf="people.isAdmin">{{people.fullName}} <small>{{people.cat}}</small> <ion-badge item-end>Admin</ion-badge></ion-label>
         <ion-label *ngIf="!people.isAdmin">{{people.fullName}} <small>{{people.cat}}</small></ion-label>
       </ion-item>
    </ion-list>
  </div>
</div>



</ion-content>

<ion-footer padding>
  <div class="pull-center">
    <div  *ngIf="myCatOpen">
      <button  (click)="fnJoinClub()" ion-button>
       Join Club
      </button>
    </div>
    <button  (click)="goback()" ion-button clear>Close</button>
  </div>
</ion-footer>
